@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin:0;
  overflow-x: hidden;
  overflow-y: hidden;
  cursor: auto;
}

  header {
  background-image: url("background_03.89a266d5.jpg");
  background-size: cover;
  cursor: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: center;
  position: relative;
  display: inline-block;
}

 .overlay{
  background: linear-gradient(90deg,rgba(19,28,37,0),#131c25);
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  text-align: left;
  color: rgb(255, 255, 255);
  padding: 50px 3%;
  position: absolute;
  top: 10vh;
}

.nav_bar{
  background-color: rgba(34.0, 40.0, 49.0,0.91);
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 30px 3%;
  align-items: center;
}

#logo {
    cursor: pointer;
    height: 50px;
    margin-right: auto;
}

li,a, button {
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  font-size: 18px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

p{
  font-size: 35px;
  color: #75bcee;

}

.footer{
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgba(151, 47, 47, 0.2);
  position: absolute;
  z-index: 1;
  bottom: 0;
}

#linklogo{
  display: flex;
  height: 23px;
  margin-right: 7px;
  width: auto;
  opacity: 70%;
}

.footer p{
  color:rgb(255, 255, 255);
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  display: flex;
  margin-left: 10px;
}
.footer a{
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  color: rgb(14, 159, 179);
  display: flex;
  justify-content: flex-start;
}

.read{
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight:lighter;
  padding: 5px 3%;
  margin-top: 5px;
  border: 2px solid;
  background-color: rgba(0, 0,0, 0.4);
  color: #db9c13;
  border-color: white;
  margin-left: 0.2em;
}

.nav_links{
  list-style: none;
}

.nav_links > li{
  display: inline-block;
  padding: 0px 20px;
}

.contact{
  padding: 10px 20px;
  cursor: pointer;
  width: 150px;
  border: none;
  border-radius: 50px;
  margin-left: 35px;
  background-color: #00bcd4;
}

a:hover{
  color:#EB6456;
  transition: 0.5s;
}

.footer a:hover{
  color:rgba(255, 255, 255, 0.8);
  transition: 0.5s;
}

button:hover{
  background-color: rgba(0, 188, 212, 0.5);
 transition: 0.3s;
}

a:focus, button:focus {
outline: none !important;
}

.burger{
  display: none;
}

.burger div{
height: 1px;
width: 20px;
background-color: white;
margin: 5px;
}

@media screen and (max-width:910px){
  p{
    font-size: 30px;
  }

  .overlay{
    font-size: 50px;
  }
  .nav_links li{
    padding: 0px 5px;
  }

  button {
    margin-left: 15px;
  }
}

@media screen and (max-width:768px) {

  p{
    font-size: 25px;
  }

  .overlay{
    font-size: 40px;
    z-index: 2;
  }
 
  .nav_links {
    z-index: 3;
    position:absolute;
    top:10vh;
    height:90vh;
    right:0px;
    background-color: rgba(34.0, 40.0, 49.0,0.91);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10% 0px;
    width: 50vw;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active, .overlay {
  transform: translateX(0%);
}
